body, main{
    margin: 0;
    padding: 0;
}
/* container */
.container6{
    background-color: #020202;
    width: 100%;
    height: 80vh;
    margin-bottom: 0px;
}
.container6 .row-0{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.container6 .row-0 .col-51:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container6 .row-0 .col-51:nth-child(1) figure{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container6 .row-0 .col-51:nth-child(1) figure img{
   width: 90%
    
}
.container6 .row-0 .col-51:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container6 .row-0 .col-51:nth-child(2) form{
    width: 100%;
    height: 70vh
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(1){
    width: 100%;
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(1) h2{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 67, 17);
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(2) input{
    width: 50%;
    text-align: center;
    margin: 20px;
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    color: #585858;
    transition: all 1s;
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(2) input:hover{
    box-sizing: border-box;
    border: solid 2px rgb(13, 157, 189);
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(3){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(3) button{
    width: 30%;
    background-color: rgb(206, 67, 17);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(3) button:hover{
    cursor: pointer;
    background-color: rgb(13, 157, 189);
    color:rgb(206, 67, 17);
}
/* fin container */

/* footer */
.container-footer{
    width: 100%;
    height: 60vh;
    background-color: black;
    margin-top: 0px;
    border-top: none;

}
.container-footer .filter{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}
.container-footer .filter .row-1{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-footer .filter .row-1 .col-31:nth-child(1){
    width: 30%;
}
.container-footer .filter .row-1 .col-31:nth-child(1) img{
    width: 40%;
    margin-bottom: 20px;
}
.container-footer .filter .row-1 .col-31:nth-child(1) p{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.container-footer .filter .row-1 .col-31:nth-child(2){
    width: 30%;
}
.container-footer .filter .row-1 .col-31:nth-child(2) p{
    width: 100%; 
    text-align: center; 
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(206, 67, 17);
}
.container-footer .filter .row-1 .col-31:nth-child(2) ul{
    width: 100%;
    margin-top: 20px;
    padding: 0px;
    list-style: none; 
}
.container-footer .filter .row-1 .col-31:nth-child(2) ul li{
    width: 100%; 
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    text-transform:uppercase;
    transition: ease-in-out .5s;
}
.container-footer .filter .row-1 .col-31:nth-child(2) ul li:hover{
    color: rgb(206, 67, 17);
    cursor: pointer;
}

.container-footer .filter .row-1 .col-31:nth-child(3){
    width: 30%;    
}
.container-footer .filter .row-1 .col-31:nth-child(3) p{
    width: 100%;
    margin-bottom: 30px;
    text-align: center; 
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(206, 67, 17);
}
.container-footer .filter .row-1 .col-31:nth-child(3) h4{
    width: 100%;
    margin-bottom: 15px;
    text-align: center; 
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: azure;
}
.container-footer .filter .row-1 .col-31:nth-child(3) h5{
    width: 100%;
    text-align: center; 
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: azure;
}

/* .container-footer .filter .row:nth-child(2){
    width: 100%;
    margin: 0 auto;
    
} */

@media (max-width:1080px) {
    /* main */
    .container6{
        height: 90vh;
        border: none;
    }
    /* footer */
    .container-footer{
        height: 60vh;
        border: none;
    }
}

@media (max-width:768px) {
    .container6{
        height: 100%;
        width: 100%;
    }
    .container6 .row-0{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 0px;
    }
    .container6 .row-0 .col-51:nth-child(1){
        margin: 0 auto;
        width: 70%;
        /* background-color: aqua; */
    }
    .container6 .row-0 .col-51:nth-child(2){
        margin: 0 auto;
        width: 70%;
        /* background-color: aqua; */
    }
    .container-footer{
        height: 100%;
    }

    .container-footer .filter{
        height: 100%;
    }

    .container-footer .filter .row-1{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 40px;
    }
}

@media (max-width:480px) {
    .container6 .row-0 .col-51:nth-child(2) form .form-group:nth-child(2) input{
        font-size: 0.8em;
    }
    .container-footer{
        height: auto;
    }

    .container-footer .filter{
        height: auto;
    }
    .container-footer .filter .row-1{
        display: flex;
    }
    .container-footer .filter .row-1 .col-31{
        width: 100%;
    }
    /* .container-footer .filter .row-1 .col-31:nth-child(2){
        /* display: flex;
        flex-direction: column; 
        text-align: center;
        align-items: center;
    }*/
} 